{% extends "covid/landing.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}

{% load i18n %}
{% load static %}
{% load thumbnail %}


{% block extra_head_title %}{% trans 'SmartVillage digital Library' %}{% endblock extra_head_title %}

{% comment %} This is already wrapped in a <p> tag{% endcomment %}
{% block intro %}
      {% blocktrans %}
      Connecting Frontline Health Workers to resources and each other to expand their knowledge, organize content into courses, and share their learning with the community.
      {% endblocktrans %}
{% endblock %}

{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'orb_feed' %}">
{% endblock extra_head_feed %}
