.FormView-form input, .FormView-form select, .FormView-form textarea, .ProfileEditor-form input, .ProfileEditor-form select, .ProfileEditor-form textarea {
    border: 1px solid #9696f2;
    padding: 8px 16px;
    width: 100%;
}

div.tagsinput {
    border: 1px solid #9696f2;
}

.FormView-form .help-block, .ProfileEditor-form .help-block {
    color: #1f07f8;
}

#id_description_tbl{
    border: 1px solid #9696f2;
}